$bgcolor: #32a89e;
$bgimg: url("../../assets/im1.jpg");
$bgsize: 100%;

button {
  background-color: $bgcolor;
  border: solid black 1px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

h2 {
	font-weight:bold;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

div.emp {
	background-image: $bgimg;
	padding: 100px 200px 200px 200px;
	background-size: $bgsize;
}

div.empcontent {
	display: flex;
    flex-direction: column;
	width: 650px;
	border: solid 1px #fff;
	margin:0 auto;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 50px;
	align-items: center;
    color: #fff;
}

#mess {
	font-size:1.5em;
}

img {
	width: 300px;
	height: 300px;
	border: 2px solid black;
}