

<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">

<label>
  Email:
  <mat-form-field class="full-width-input">
  <input matInput type="text" formControlName="email" required>
  <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
      Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is required
  </mat-error>
</mat-form-field>
</label>
<br>
<label>
  Password:
  <mat-form-field class="full-width-input">
  <input matInput type="password" formControlName="pass" required>
  <mat-error *ngIf="loginForm.get('pass').hasError('required')">
        Pasword is required
  </mat-error>
  </mat-form-field>  
</label>
<br>
<br>
<button mat-raised-button color="primary" type="submit">Login</button>

</form>
<router-outlet></router-outlet>


